.bg-darkgreen {
  background-color: #2BCD74;
}

.bg-green {
  background-color: #35E164;
}

body, html {
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  height: 100%;
  margin: 0;
  color: #ffffff;
}

#preloader {
  background: #000000 url(images/logo/loading.gif) no-repeat center center;
  background-size: 30%;
  position: absolute;
  z-index: 100;
}

nav {
  background-image: url(images/shaders/farm.png);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav div {
  background-color: #00000000;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px;
}

nav div a {
  color: #ffffff;
}

@media (min-width: 576px) {
  nav {
    background-image: url(images/shaders/farm.png);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav div {
    background-color: #00000000;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav div a {
    margin: 10px 20px;
    color: #ffffff;
    margin-bottom: 0;
  }
  nav div .moveup {
    position: inherit;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .topfooter {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  padding: 10px 1000px;
}

.footer .topfooter .footericons a {
  color: #209A57;
  font-size: 20px;
  margin: 10px;
}

.footer .topfooter .footericons a:hover {
  color: #26B366;
}

.footer .bottomfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 576px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .topfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 1000px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .topfooter .footericons a {
    color: #209A57;
    font-size: 20px;
    margin: 10px;
  }
  .footer .topfooter .footericons a:hover {
    color: #26B366;
  }
  .footer .bottomfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */