$fbgreen: #35E164;
$fbgreendark: #2BCD74;
$black: #000000;
$white: #ffffff;

#serverip{
  display: none;
}

.bg-darkgreen{
  background-color:#2BCD74;
}
.bg-green{
  background-color: #35E164;
}

body, html {
    font-family: "Open Sans";
    scroll-behavior:smooth;
    text-rendering:optimizeSpeed;
    height: 100%;
    margin: 0;
    color: $white;
}

#preloader{
  background: $black url(images/logo/loading.gif) no-repeat center center;
  background-size: 30%;
  position:absolute;
  z-index: 100;
}

nav{
  background-image: url(images/shaders/farm.png);
  align-items: flex-end;
  flex-direction: column;
  div{
    background-color: #00000000;
    align-content: center;
    padding: 30px;
    a {
      color: $white;
      font-weight: 900;
    }
  }

}

@media (min-width: 576px){
  nav{
    background-image: url(images/shaders/farm.png);
    align-items: flex-start;
    flex-direction: column;
    div{
      background-color: #00000000;
      align-content: center;
      padding: 30px;
      display: flex;
      flex-direction: row;
      a {
        margin: 10px 20px;
        color: $white;
        margin-bottom: 0;
      }
      .moveup{
        position:inherit;
      }
    }
  }
}

.footer{
  display: flex;
  flex-direction: column;
  .topfooter{
    flex-direction: row;
    display: flex;
    justify-content: space-between !important;
    .ip{
      #ip{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        padding: 10px 30px;
        h6{
          background-color: #3DB974;
          padding: 10px 30px;
          color: #359E64;
        }
        span{
          color: #3DB974;
          background-color: #60DA97;
          padding: 10px 10px
        }
      }
      
    }
    .footericons{
      display: flex;
      flex-direction: row;
      a{
        color: #209A57;
        font-size: 20px;
        margin: 10px;
      }
      a:hover{
        color: #26B366;
      }
    }
  }
  .bottomfooter{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 576px){
  .footer{
    display: flex;
    flex-direction: column;
    .topfooter{
      flex-direction: column;
      display: flex;
      padding: 10px 1000px;
      justify-content:space-around;
      .footericons{
        a{
          color: #209A57;
          font-size: 20px;
          margin: 10px;
        }
        a:hover{
          color: #26B366;
        }
      }
    }
    .bottomfooter{
      display: flex;
      flex-direction: column;
      #foot1{
        font-weight: 200;
      }
      #foot2{
        font-weight: 200;
      }
    }
  }
}