$fbgreen: #35E164;
$fbgreendark: #2BCD74;


body, html {
    font-family: 'Oswald', sans-serif;
    scroll-behavior:smooth;
    text-rendering:optimizeSpeed;
    height: 100%;
    margin: 0;
}

#preloader{
  background: #000000 url(images/logo/loading.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position:absolute;
  z-index: 100;
}

.menu{
  width:50px;
  margin:8px;
  cursor:pointer;
  left: 0px;
  margin-top: 40px;
  div{
    width:40;
    height:60;
    margin:5px;
    position:relative;
    span{
      background: white;
      box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
      width:100%;
      height:5px;
      border-radius: 5px;
      display: block;
      position: absolute;
      top:50%;
      left:50%;
      transition:0.5s;
    } 
  }
  .bar1{
    transform: translate(0px, -10px);
  }
  .bar3{
    transform: translate(0px, 10px);
  }
}

.openmenu {
  .bar1 {transform: translate(0px, -10%) rotate(-45deg); box-shadow: 0px 0px rgba(0, 0, 0, 0.5);}
  .bar3 {transform: translate(0px, -10%) rotate(45deg); box-shadow: 0px 0px rgba(0, 0, 0, 0.5);}
  .bar2 {width:0;}
}
#container{
  padding: 50px 50%;
  display: flex;
  flex-direction: column;
  background-image: url(images/shaders/farm.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
#container .header{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#container .header div.logo:before{
  content: url(images/logo/giantlogo.png);
}
#container .topnav{
  display: flex;
  justify-content: center;
}

#container .topnav  div {
  display: flex;
  a{
    display: flex;
    justify-items: center;
    margin: 0px 10px;
    padding: 12px 20px;
    color:white;
    text-decoration: none;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    font-size:20px;
    transition: 0.5s;
  }
}
#home{
  background-color: #00b34a;
  border-width: 1px;
  border-style: solid;
  border-color: #2eff8594;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);

}
#about:hover{
  background-color: #ff3939;
  border-width: 1px;
  border-style: solid;
  border-color: #ff535394;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
}
#shop:hover{
  background-color: #399fff;
  border-width: 1px;
  border-style: solid;
  border-color: #53acff94;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
}
#map:hover{
  background-color: #ffba39;
  border-width: 1px;
  border-style: solid;
  border-color: #ffc65c94;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
}
.menu{
  display: none;
}
#container .topnav input{
  display: none;
}

@media screen and (max-width:630px){
  .menu{
    display: block;
    position:absolute;
  }
  #container .topnav  #menuicons{
    display: none;
    flex-direction: column;
    position: absolute;
    width:100%;
    padding:10px ;
    background-color: #706e6eb9;
    transition: all 0.5s;
    margin-top: 90px;
    a{
      margin: 10px;
      text-align: center;
    }
  }
  #check:checked ~ #menuicons{
    display: block;
  }
}

.ip2{
    margin:0;
    display: flex;
    justify-content: center;
  }
  .ip2 a{
    background-color: $fbgreen;
    color:white;
    padding: 5px 30px;
    border-color: $fbgreen;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 4px #2BCD74;
    text-decoration: none;

    font-weight: 500;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
  
  }
  .ip2 span{
    background-color: $fbgreendark;
    color:white;
    padding: 5px 30px;
    border-color: $fbgreendark;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    box-shadow: 0px 4px #2bcd61;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 600;
  }

.ip{
  margin:0 10px;
}
.ip a{
  background-color: #2BCD74;
  color:#1d9e48;
  padding: 5px 30px;
  text-decoration: none;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 600;

}
.ip span{
  background-color: #2bcd61;
  color:#188f40;
  padding: 5px 30px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 600;
}
footer{
  display: flex;
  flex-direction: column;
  #top{
    background-color: #157936;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding: 10px 0px;
    .ip{
      float: left;
    }
    #socials{
      float: right;
      margin-left: 20%;
      margin-right: 1%;
      a{
        text-decoration: none;
        color:white;
      }
    }
  }
}