@font-face{
    src: url("Oswald-Regular.ttf");
    font-family: oswald;
    font-style: normal;
    font-weight: 400;
}
@font-face{
    src: url("Oswald-ExtraLight.ttf");
    font-family: oswald;
    font-style: normal;
    font-weight: 200;
}
@font-face{
    src: url("Oswald-Light.ttf");
    font-family: oswald;
    font-style: normal;
    font-weight: 300;
}
@font-face{
    src: url("Oswald-Medium.ttf");
    font-family: oswald;
    font-style: normal;
    font-weight: 500;
}
@font-face{
    src: url("Oswald-SemiBold.ttf");
    font-family: oswald;
    font-style:normal;
    font-weight: 600;
}
@font-face{
    src: url("Oswald-Bold.ttf");
    font-family: oswald;
    font-style: normal;
    font-weight: 700;
}