html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(19, 160, 255);

    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 160%;
}

#mcmap {
    width: 100%;
    height: 100%;
}

.infoWindow {
    height: 100px;
}

.infoWindow>img {
    width:80px;
    float: left;
    image-rendering: -moz-crisp-edges;
}

.infoWindow>p {
    text-align: center;
    font-family: monospace;
}

.customControl {
    padding: 5px;
    height: 15px;
    color: black;
    font-family: Arial, sans-serif;
}

.customControl > select {
    font-size: 12px;
    line-height: 160%;
    text-align: center;

    border: 1px solid #A9BBDF;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;

}

.customControl > div.top {
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    padding: 0px 6px;
    
    background-image: url('control-bg.png');
    background-repeat: repeat-x;
    
    border: 1px solid #A9BBDF;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    cursor: pointer;
}

.customControl > div.top:hover {
    border: 1px solid #678AC7;
}

.customControl > div.top-active {
    color: white;
    font-weight: bold;
    padding: 0px 5px;
    border: 1px solid #678AC7;
    background-image: url('control-bg-active.png');
}

.customControl > div.dropDown {
    font-size: 12px;
    background-color: white;
    
    border: 1px solid #A9BBDF;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    
    display: none;
}

.customControl > div.button {
    border: 1px solid #000;
    font-size: 12px;
    background-color: #fff;
    display: none;
}


#link, #coordsDiv, #progressDiv {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.55);
    border: 1px solid rgb(0, 0, 0);
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
}

#link:hover {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.8);
}

#searchControl {
    padding: 5px;
    height: 20px;
    font-family: Arial, sans-serif;
}

#searchControl > input {
    border: 2px solid #000;
    font-size: 12pt;
    width: 20em;
    background-color: #fff;
}

#searchControl>input.inactive {
    color: #ccc;
}

#searchControl>input.active {
    color: #000;
}

div#searchDropDown {
    border: 1px solid #000;
    width: 17em;
    font-size: 14pt;
    background-color: #fff;
    display: none;
}

div.searchResultItem  {
    overflow: hidden;
    text-overflow: ellipsis;    
}

div.searchResultItem img {
    width: 24px;
    height: 24px;
}


div.worldcontrol {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #fff;
    padding: 2px;
}
div.worldcontrol select {
    background: #fff;
    border: 1px solid #fff;
    color: #333;
    font-size: 1.2em;
}

.leaflet-container .coordbox, .leaflet-container .progress {
    box-shadow: none;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 0 5px;
    color: #333;
}

.ov-marker {
    position:relative;
    margin-left:-50%;
    margin-top:-50%;
}

.ov-marker-legend {
    height: 1.5em;
    float: right;
    clear: right;
    margin-left: 20px;
}

.leaflet-div-icon {
    background: 0;
    border: 0;
}

.menu {
    width: 50px;
    margin: 8px;
    cursor: pointer;
    left: 10px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 3px 20px 0px;
}

.menu div {
    width: 40;
    height: 60;
    margin: 5px;
    position: relative;
}
  
.menu div span {
    background: white;
    -webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 5px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
  
.menu .bar1 {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
}
  
.menu .bar3 {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
}
  
.openmenu .bar1 {
    -webkit-transform: translate(0px, -10%) rotate(-45deg);
            transform: translate(0px, -10%) rotate(-45deg);
    -webkit-box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
}
  
.openmenu .bar3 {
    -webkit-transform: translate(0px, -10%) rotate(45deg);
            transform: translate(0px, -10%) rotate(45deg);
    -webkit-box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
}
  
  .openmenu .bar2 {
    width: 0;
}
  
#container {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position:fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(images/shaders/farm.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000000000000000000000000000000000000000000000;
}
  
#container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
}
  
  #container .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
#container .topnav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
#container .topnav div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    margin: 0px 10px;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
  
#home:hover {
    background-color: #00b34a;
    border-width: 1px;
    border-style: solid;
    border-color: #2eff8594;
    -webkit-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
            box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
}
  
#about:hover {
    background-color: #ff3939;
    border-width: 1px;
    border-style: solid;
    border-color: #ff535394;
    -webkit-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
            box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
}
  
  #shop:hover {
    background-color: #399fff;
    border-width: 1px;
    border-style: solid;
    border-color: #53acff94;
    -webkit-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
            box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
}
  
  #map {
    background-color: #ffba39;
    border-width: 1px;
    border-style: solid;
    border-color: #ffc65c94;
    -webkit-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
            box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.404);
  }
  
  .menu {
    display: none;
  }
  
  #container .topnav input {
    display: none;
  }
  
  @media screen and (max-width: 630px) {
    .menu {
      display: block;
      position: absolute;
      margin: 5px -10px;
    }
    #container {
      height: 50%;
    }
    #container .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: -5px;
    }
    #container .topnav #menuicons {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      width: 100%;
      padding: 1px;
      background-color: #706e6eb9;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      margin-top: 50px;
      margin-right: 50px;
    }
    #container .topnav #menuicons a {
      margin: 10px;
      text-align: left;
      padding:10px 200px 10px 10px;
    }
    #check:checked ~ #menuicons {
      display: block;
    }
  }

